DDNS-update-style ad-hoc;

subnet 129.15.11.0 netmask 255.255.255.0 
{
   authoritative;
   option routers 129.15.11.1;
   option domain-name-servers 129.15.1.120, 129.15.1.121, 129.15.1.9;
   option domain-name "math.ou.edu";
   option broadcast-address 129.15.11.255;
   pool
   {
       range 129.15.11.130 129.15.11.249;
       deny unknown clients;
       default-lease-time 3600;
       max-lease-time 3800;
   }

	
   host Albert-Laptop { hardware ethernet B8:EE:65:E4:23:88; }
   host Apanasov-Laptop { hardware ethernet B8:EE:65:E4:26:F6; }
   host Bryan-Archer-wireless { hardware ethernet 00:22:69:88:4e:2e; }
   host Daina-Sheaib-wireless { hardware ethernet b8:ff:61:23:f8:aa; }
   host Elizabeth-Lenova-laptop { hardware ethernet 00:1e:64:92:8a:ea; }
   host Emily-Mac-laptop { hardware ethernet 68:a8:6d:46:01:34; }
   host Emily-Phone { hardware ethernet f8:f1:b6:e9:0d:a3; }
   host Evan-Mac-laptop { hardware ethernet 44:2a:60:f6:ac:ea; }
   host GUEST-ofMeijun { hardware ethernet a0:88:b4:28:bb:7c; }
   host Goodey-laptop { hardware ethernet 3c:07:54:11:5d:d0; }
   host Grasse-wifi { hardware ethernet E0:B9:BA:1A:77:FA; }
   host Herrera-Jaramillo-wireless1 { hardware ethernet 04:7d:7b:29:00:6e; }
   host Herrera-Jaramillo-wireless2 { hardware ethernet 00:21:63:da:54:e7; }
   host Hjung-laptop { hardware ethernet b4:82:fe:74:40:d8; }
   host HousseinTurkey-wireless { hardware ethernet 00:1F:E1:CC:02:3C; }
   host HousseinTurkey2-wireless { hardware ethernet dc:85:de:60:74:ef; }
   host IT-desktop { hardware ethernet 00:50:ba:b2:d4:76; }
   host JSun-wireless { hardware ethernet 00:24:2C:2E:EF:5A; }
   host Jieru-Mac-cell { hardware ethernet 18:34:51:c3:19:72; }
   host Jing-wireless2 { hardware ethernet 40:6C:8F:4C:5C:13; }
   host Jing-wireless3 { hardware ethernet F0:D1:A9:9E:E5:07; }
   host Jing-wireless4 { hardware ethernet b8:8d:12:17:b0:0a; }
   host Jing-wireless5 { hardware ethernet 7c:c3:a1:b5:e3:d8; }
   host Jlouwsma-wireless { hardware ethernet 84:4B:F5:60:69:90; }
   host Kblee-eth { hardware ethernet 00:18:8B:D0:C9:74; }
   host Kblee-wifi { hardware ethernet 00:1B:FC:2D:2D:2F; }
   host Keshav-Acharya-wireless { hardware ethernet 50:B7:C3:53:64:7E; }
   host Keshav-Dell-Vestro-laptop { hardware ethernet 00:1e:4c:c1:98:16; }
   host Mcbride-wireless { hardware ethernet 08:ED:B9:14:02:00; }
   host Miao-PC { hardware ethernet 00:21:6B:C3:EE:CC; }
   host Misuns-MacBook-Air { hardware ethernet 48:d7:05:c3:b7:81; }
   host PGoodies-iMac { hardware ethernet 78:31:c1:e9:16:63; }
   host Przebina-Laptop { hardware ethernet B8:EE:65:E4:62:2E; }
   host Rafi-Macbook-laptop { hardware ethernet b8:8d:12:26:78:0a; }
   host Ravis-MacBookPro { hardware ethernet 3C:15:C2:D7:9A:86; }
   host Rebecca-Ubuntu-laptop { hardware ethernet 00:22:43:84:e1:c4; }
   host Sean-Bauer-wifi { hardware ethernet 7C:11:BE:8B:A0:55; }
   host Sean-Bauer-wireless { hardware ethernet 00:88:65:5B:0C:80; }
   host Sean-Bauer-wireless-new2 { hardware ethernet 28:6A:BA:CF:E2:88; }
   host Sepideh-Stewart-wireless { hardware ethernet 68:5D:43:5D:07:E6; }
   host Trevathan-Macbook-laptop { hardware ethernet b8:8d:12:12:42:20; }
   host UNKNOWN-D63YVM30 { hardware ethernet 00:0B:DB:DE:E6:83; }
   host UNKNOWN-D63YVM31 { hardware ethernet 00:90:4B:14:BE:33; }
   host UNKNOWN-ShihshuWalter { hardware ethernet 00:24:D7:14:6A:ED; }
   host UNKNOWN-abhand1 { hardware ethernet 00:13:E8:DC:98:EB; }
   host UNKNOWN-abhand2 { hardware ethernet 00:16:D3:C2:46:76; }
   host UNKNOWN-achar { hardware ethernet 00:11:24:A7:87:3e; }
   host UNKNOWN-ahamidi { hardware ethernet 00:14:22:F0:07:DC; }
   host UNKNOWN-ajones { hardware ethernet 00:20:e0:64:8f:dc; }
   host UNKNOWN-ameya { hardware ethernet 00:C0:9F:63:31:29; }
   host UNKNOWN-ameyaeth { hardware ethernet 00:15:C5:82:AE:79; }
   host UNKNOWN-ameyawifi { hardware ethernet 00:1D:E0:49:CB:39; }
   host UNKNOWN-apanasov { hardware ethernet 00:15:C5:39:F2:5D; }
   host UNKNOWN-arelyea { hardware ethernet 00:04:5A:A4:D0:25; }
   host UNKNOWN-ashaqlaih { hardware ethernet 00:A0:D1:45:28:3C; }
   host UNKNOWN-ashaqlaih2 { hardware ethernet 00:13:A9:A3:A1:35; }
   host UNKNOWN-ashaqlaih3 { hardware ethernet 00:1B:24:08:BE:24; }
   host UNKNOWN-ashaqlaih4 { hardware ethernet 00:1A:73:DF:48:88; }
   host UNKNOWN-ashaqlaih5 { hardware ethernet 00:1B:24:EA:73:03; }
   host UNKNOWN-ccc { hardware ethernet 00:1b:77:C4:49:59; }
   host UNKNOWN-chaa { hardware ethernet 00:C0:9F:8A:A2:73; }
   host UNKNOWN-chall { hardware ethernet a0:78:ba:9d:cf:8f; }
   host UNKNOWN-cmatthew1 { hardware ethernet 00:14:51:84:63:29; }
   host UNKNOWN-cmatthew2 { hardware ethernet 00:14:51:2b:c0:c8; }
   host UNKNOWN-dbakewell { hardware ethernet 00:01:4A:5F:8D:AB; }
   host UNKNOWN-dbakewell2 { hardware ethernet 00:13:CE:0A:01:17; }
   host UNKNOWN-ddamanik { hardware ethernet 00:19:B9:84:E2:AB; }
   host UNKNOWN-dlove { hardware ethernet 00:06:25:2E:37:0E; }
   host UNKNOWN-dlove2 { hardware ethernet 00:C0:9F:04:0B:B3; }
   host UNKNOWN-dmc { hardware ethernet 00:15:C5:71:A2:52; }
   host UNKNOWN-dmcc { hardware ethernet 00:18:dE:3c:ec:77; }
   host UNKNOWN-dmccullough { hardware ethernet 00:0B:DB:18:2E:E9; }
   host UNKNOWN-dmcculloughwifi { hardware ethernet 00:18:DE:3C:EC:77; }
   host UNKNOWN-drowe { hardware ethernet 00:08:74:95:69:BD; }
   host UNKNOWN-dwright { hardware ethernet 00:A0:CC:DF:46:4B; }
   host UNKNOWN-ecopy { hardware ethernet 88:51:fb:6e:b2:1b; }
   host UNKNOWN-eperkins { hardware ethernet 00:15:c5:23:4f:a5; }
   host UNKNOWN-etokgoz { hardware ethernet 00:0D:56:B2:CC:F5; }
   host UNKNOWN-fbozkurt { hardware ethernet 48:d7:05:d9:45:ef; }
   host UNKNOWN-fgultepe0 { hardware ethernet 00:13:CE:91:2B:6C; }
   host UNKNOWN-fgultepe1 { hardware ethernet 00:0F:B0:A5:04:3F; }
   host UNKNOWN-fgultepe2 { hardware ethernet 74:E5:0B:74:75:32; }
   host UNKNOWN-fgultepe3 { hardware ethernet 20:02:af:cc:56:6d; }
   host UNKNOWN-gdenham { hardware ethernet 00:16:cb:06:8b:f9; }
   host UNKNOWN-haarsa { hardware ethernet 00:03:47:B9:B7:1B; }
   host UNKNOWN-jjackson { hardware ethernet 00:19:e3:da:79:13; }
   host UNKNOWN-jkim { hardware ethernet a0:f4:59:36:3f:a8; }
   host UNKNOWN-jkshin { hardware ethernet 00:04:23:97:F5:06; }
   host UNKNOWN-jmartin { hardware ethernet 00:15:C5:14:F3:43; }
   host UNKNOWN-jmartin2 { hardware ethernet 00:13:02:5A:EC:FB; }
   host UNKNOWN-jmartin3 { hardware ethernet 00:0B:7D:1B:F8:D5; }
   host UNKNOWN-jtalley { hardware ethernet 00:23:4E:77:BD:16; }
   host UNKNOWN-juliana { hardware ethernet ac:72:89:65:eb:40; }
   host UNKNOWN-jwiebe1 { hardware ethernet 84:38:35:5d:a7:b2; }
   host UNKNOWN-jwiebe2 { hardware ethernet f8:d0:bd:2d:42:e0; }
   host UNKNOWN-kashyap { hardware ethernet 00:1C:23:99:3B:DE; }
   host UNKNOWN-kashyapwifi { hardware ethernet 00:21:63:30:F0:CB; }
   host UNKNOWN-kgrasse { hardware ethernet 00:0B:DB:98:F6:06; }
   host UNKNOWN-khamb { hardware ethernet 00:0E:35:C0:85:71; }
   host UNKNOWN-kujawa { hardware ethernet 00:19:E3:3E:FA:93; }
   host UNKNOWN-kumar { hardware ethernet 00:0D:56:AE:88:53; }
   host UNKNOWN-kumarwifi { hardware ethernet 00:11:50:54:C8:2E; }
   host UNKNOWN-kweiss { hardware ethernet 00:1D:09:A2:FF:E8; }
   host UNKNOWN-kweissw { hardware ethernet 00:1D:60:A6:24:29; }
   host UNKNOWN-lbrown { hardware ethernet 00:0F:1F:13:A4:BF; }
   host UNKNOWN-lifschitzeth { hardware ethernet 00:15:C5:39:F2:A1; }
   host UNKNOWN-lifschitzwifi { hardware ethernet 00:16:CE:69:6D:AA; }
   host UNKNOWN-ljuan { hardware ethernet E4:CE:8F:41:E3:AE; }
   host UNKNOWN-ljuaneth { hardware ethernet 3C:07:54:05:B0:C1; }
   host UNKNOWN-lwu { hardware ethernet 00:08:0D:92:AB:C8; }
   host UNKNOWN-math3 { hardware ethernet 00:0F:3D:AD:30:6A; }
   host UNKNOWN-mathhpnote { hardware ethernet 00:1E:68:78:12:57; }
   host UNKNOWN-mathhpnotewifi { hardware ethernet 00:21:00:2C:2D:C9; }
   host UNKNOWN-mbreen1 { hardware ethernet 00:16:CB:90:F7:FA; }
   host UNKNOWN-mecham1 { hardware ethernet 00:11:24:E6:FE:68; }
   host UNKNOWN-mecham2 { hardware ethernet 00:11:24:A7:AD:90; }
   host UNKNOWN-mecham3 { hardware ethernet 08:00:46:1D:07:2F; }
   host UNKNOWN-millernb { hardware ethernet 00:15:C5:39:F1:4E; }
   host UNKNOWN-mozaydin { hardware ethernet 00:16:CE:69:6D:1B; }
   host UNKNOWN-mozaydin0 { hardware ethernet 00:0B:DB:DE:DD:3B; }
   host UNKNOWN-msavic { hardware ethernet 24:77:03:02:6f:b8; }
   host UNKNOWN-mslee { hardware ethernet 00:08:0D:44:2D:CF; }
   host UNKNOWN-mstubblefield { hardware ethernet 00:26:08:e7:da:06; }
   host UNKNOWN-msunkula { hardware ethernet cc:fa:00:a9:29:5f; }
   host UNKNOWN-mtilles { hardware ethernet c0:33:5e:0a:32:e3; }
   host UNKNOWN-nadams { hardware ethernet 00:26:5e:38:41:60; }
   host UNKNOWN-nbrady { hardware ethernet 00:0D:93:B8:12:A0; }
   host UNKNOWN-pdani { hardware ethernet 00:0D:93:2A:BF:8A; }
   host UNKNOWN-pdani1 { hardware ethernet 00:03:93:ED:BD:99; }
   host UNKNOWN-pgoodey { hardware ethernet 00:08:74:E1:29:FD; }
   host UNKNOWN-pgoodey2 { hardware ethernet 00:0B:6C:01:6C:D8; }
   host UNKNOWN-pgoodey3 { hardware ethernet 00:0B:6C:59:C7:87; }
   host UNKNOWN-pgoodey4 { hardware ethernet 00:80:C8:B1:5D:23; }
   host UNKNOWN-pine { hardware ethernet 00:1D:92:C4:59:8B; }
   host UNKNOWN-polaya { hardware ethernet 00:15:C5:BF:E5:C7; }
   host UNKNOWN-rhoton { hardware ethernet 00:0a:95:f2:21:5c; }
   host UNKNOWN-rhoton2 { hardware ethernet 00:16:cb:b7:d6:a5; }
   host UNKNOWN-rhoton3 { hardware ethernet 00:1B:63:EF:14:C7; }
   host UNKNOWN-rlandes { hardware ethernet 00:15:C5:39:F1:B7; }
   host UNKNOWN-rlandeswifi { hardware ethernet 00:16:CE:69:6D:73; }
   host UNKNOWN-rlandeswifi2 { hardware ethernet 00:25:00:3F:D1:7A; }
   host UNKNOWN-ryan { hardware ethernet 00:0b:7d:0f:f8:b6; }
   host UNKNOWN-sarim { hardware ethernet 00:02:3F:D8:EF:31; }
   host UNKNOWN-shankar { hardware ethernet 00:1b:63:14:f2:65; }
   host UNKNOWN-sli { hardware ethernet 00:18:8B:CF:C3:67; }
   host UNKNOWN-sturki { hardware ethernet 88:53:2e:a8:05:93; }
   host UNKNOWN-tjmurphy1 { hardware ethernet 00:0B:DB:DE:5C:BF; }
   host UNKNOWN-tjmurphy2 { hardware ethernet 00:0D:93:55:88:44; }
   host UNKNOWN-tjmurphy3 { hardware ethernet 00:14:51:33:4A:B2; }
   host UNKNOWN-tjmurphy4 { hardware ethernet 00:11:24:A8:48:73; }
   host UNKNOWN-tjmurphy5 { hardware ethernet 00:12:F0:AA:2F:E7; }
   host UNKNOWN-tjmurphy6 { hardware ethernet 00:90:4B:14:AB:05; }
   host UNKNOWN-tjmurphy7 { hardware ethernet 00:13:CE:09:C0:60; }
   host UNKNOWN-tjmurphy8 { hardware ethernet 00:13:CE:39:62:7C; }
   host UNKNOWN-tjmurphy9 { hardware ethernet 00:16:CF:98:A5:7A; }
   host UNKNOWN-tmadsen { hardware ethernet 00:0A:E4:33:3E:12; }
   host UNKNOWN-tmadsenwifi { hardware ethernet 00:12:F0:8D:F1:49; }
   host UNKNOWN-tshankar { hardware ethernet 00:08:74:28:0F:F5; }
   host UNKNOWN-walschap1 { hardware ethernet 00:16:CD:96:AD:73; }
   host UNKNOWN-walschap2 { hardware ethernet 00:16:CB:B7:C8:CE; }
   host UNKNOWN-walschap3 { hardware ethernet C8:2A:14:11:CD:EF; }
   host UNKNOWN-walschap4 { hardware ethernet E0:F8:47:0E:80:AC; }
   host UNKNOWN-wguan { hardware ethernet 00:08:0d:7C:AA:C8; }
   host UNKNOWN-wolf1 { hardware ethernet 00:0F:B0:3B:78:52; }
   host UNKNOWN-wolf2 { hardware ethernet 00:0E:35:A7:F5:83; }
   host UNKNOWN-wwei { hardware ethernet 00:90:4B:15:B5:8E; }
   host UNKNOWN-wwei2 { hardware ethernet 00:0B:DB:DE:E7:47; }
   host UNKNOWN-wweithink { hardware ethernet 00:0D:60:75:89:56; }
   host UNKNOWN-xirc01 { hardware ethernet 00:10:A4:B2:DC:46; }
   host WShao-wireless { hardware ethernet C0:CB:38:6A:0A:C4; }
   host Waldron-wireless { hardware ethernet c4:85:08:0a:0e:15; }
   host Wayne-Stewart-wireless { hardware ethernet 00:21:6A:61:67:E4; }
   host White-Laptop { hardware ethernet B8:EE:65:E4:33:9B; }
   host acardwell-macbook { hardware ethernet 00:23:12:11:bc:81; }
   host access-point-10thF-room1001 { hardware ethernet 00:1c:10:64:ea:42; }
   host access-point-11thF-room1103 { hardware ethernet 00:1c:10:64:e9:70; }
   host access-point-4thFl-room423 { hardware ethernet 00:1C:10:64:EC:9D; }
   host access-point-5thFl-room506 { hardware ethernet 00:1c:10:64:ef:30; }
   host access-point-8thFl-room801 { hardware ethernet 00:1c:10:64:e8:6c; }
   host access-point-9thFl-room908 { hardware ethernet 00:1c:10:64:e9:86; }
   host alshukla-ipad { hardware ethernet e0:66:78:66:14:15; }
   host alutz-laptop { hardware ethernet 3c:15:c2:c5:89:1c; }
   host alyssa-hp-laptop { hardware ethernet 90:00:4e:54:20:5e; }
   host amagid-desktop { hardware ethernet d8:d3:85:77:98:9a; }
   host amartino-laptop { hardware ethernet e4:ce:8f:24:d1:e8; }
   host ameyawifi-macpro { hardware ethernet 68:a8:6d:3a:09:f2; }
   host amiller-eth { hardware ethernet 70:5A:B6:9B:86:3B; }
   host amiller-router { hardware ethernet 00:0C:41:AC:55:60; }
   host amiller-wifi { hardware ethernet 00:24:D7:14:C6:D8; }
   host amukherjee-eth { hardware ethernet 00:1E:68:27:47:A6; }
   host apannsou-eth { hardware ethernet 70:5A:B6:6B:87:39; }
   host apannsou-wifi { hardware ethernet 00:24:D7:13:96:F4; }
   host aroche-imac-wired { hardware ethernet 34:15:9e:1d:7f:12; }
   host aroche-macbook { hardware ethernet b8:e8:56:40:7b:1a; }
   host ashley-iphone { hardware ethernet DC:9B:9C:80:14:DE; }
   host ashukla-laptop { hardware ethernet e0:06:e6:3f:7f:d2; }
   host ashukla-phone { hardware ethernet 64:5A:04:C7:B7:EA; }
   host ashukla-tablet { hardware ethernet 6c:fd:b9:7f:ea:f6; }
   host bapanasov-eth { hardware ethernet 70:5A:B6:9B:87:39; }
   host barcher-wifi1 { hardware ethernet 00:26:c7:dd:96:a4; }
   host benjiman-wifi { hardware ethernet 00:12:cf:7f:a7:6c; }
   host bstucky-netbook { hardware ethernet 00:21:00:fc:92:c6; }
   host bstucky-surface { hardware ethernet 4c:0b:be:1c:9c:74; }
   host btharp-eth { hardware ethernet 00:02:3F:FE:5B:B0; }
   host btharp-wifi { hardware ethernet 00:12:CF:5C:66:0E; }
   host candice-pwifi { hardware ethernet 00:26:37:AD:17:1F; }
   host candidate-guest { hardware ethernet b8:e8:56:23:62:7c; }
   host candrews--eth { hardware ethernet 90:E6:BA:11:CA:3C; }
   host candrews--wifi { hardware ethernet 00:25:D3:68:08:10; }
   host candrews-laptop { hardware ethernet b8:ee:65:68:ab:a8; }
   host candrews-phone { hardware ethernet 1c:99:4c:6a:ea:68; }
   host candrews-tablet { hardware ethernet d8:90:e8:a0:b3:4a; }
   host cas-001 { hardware ethernet 00:16:41:74:15:a3; }
   host cdavis-laptop { hardware ethernet 70:F1:A1:56:6C:CC; }
   host chall-imac { hardware ethernet 00:23:df:fe:be:da; }
   host chall-imac-wifi { hardware ethernet 7c:6d:62:72:8e:e5; }
   host chall-iphone { hardware ethernet 2c:b4:3a:90:f5:10; }
   host chall-laptop { hardware ethernet 00:1a:73:dd:7a:0c; }
   host chall-laptop2 { hardware ethernet 00:1b:24:ef:a5:37; }
   host champ-eth { hardware ethernet 00:25:64:44:A4:0B; }
   host champ-wifi { hardware ethernet 00:22:5F:C9:52:2F; }
   host chaoliu-wifi { hardware ethernet 70:1A:04:E8:D8:3D; }
   host che-ipad { hardware ethernet e0:b9:ba:c3:12:f2; }
   host che-iphone { hardware ethernet ec:35:86:79:71:82; }
   host che-phone { hardware ethernet 10:68:3f:89:6f:c6; }
   host che-surface { hardware ethernet C0:33:5E:10:60:E9; }
   host che-wireless { hardware ethernet 14:10:9f:eb:8f:66; }
   host chris-OUIT { hardware ethernet 00:1f:3a:21:b8:53; }
   host chris-OUIT2 { hardware ethernet 00:c0:17:31:bb:ee; }
   host ckeith-ipad { hardware ethernet b4:f0:ab:e4:09:df; }
   host ckeith-laptop { hardware ethernet d8:a2:5e:92:69:54; }
   host ckeith-phone { hardware ethernet cc:78:5f:47:eb:27; }
   host clu-ipad { hardware ethernet 64:20:0c:d7:2c:D5; }
   host clu-laptop { hardware ethernet e0:b9:a5:06:4f:1b; }
   host coryw-laptop { hardware ethernet 84:a6:c8:06:fb:0d; }
   host csloan-eth { hardware ethernet 00:26:22:A4:C5:AB; }
   host csloan-wifi { hardware ethernet 70:1A:04:0E:D3:A7; }
   host ctinsely-laptop { hardware ethernet 88:53:2e:70:2e:c5; }
   host ctyty-wifi { hardware ethernet 00:15:C5:39:F1:05; }
   host dania-cell-wireless { hardware ethernet 00:1f:df:6d:e1:dc; }
   host darren-laptop { hardware ethernet 00:1f:3b:69:b3:69; }
   host darren-phone { hardware ethernet 5c:0A:5B:EE:D7:18; }
   host darren-phone2 { hardware ethernet 88:C9:D0:C3:49:CD; }
   host david-laptop { hardware ethernet C8:BC:C8:DE:E7:C4; }
   host dfindley-Androidphone { hardware ethernet 10:68:3f:fd:e9:1c; }
   host dfindley-desktop { hardware ethernet 00:00:00:00:00:00; }
   host dfindley-iPhone { hardware ethernet 10:68:3f:fd:e9:1b; }
   host dguralnik-eth { hardware ethernet 00:12:3F:17:EB:33; }
   host dho-laptop { hardware ethernet 68:94:23:17:42:24; }
   host dlane-phone { hardware ethernet 68:a8:6d:78:19:76; }
   host dlane-tablet { hardware ethernet 34:a3:95:49:f5:0a; }
   host dmclaury-eth { hardware ethernet 00:19:e3:62:44:55; }
   host dmclaury-wifi { hardware ethernet 00:19:e3:08:72:40; }
   host dmitchell-laptop { hardware ethernet 20:02:af:de:09:b5; }
   host don-wifi { hardware ethernet 5C:59:48:A0:55:89; }
   host drowe-guest { hardware ethernet 00:24:d6:47:61:e4; }
   host dsheaib-laptop { hardware ethernet 00:21:5D:70:85:3c; }
   host ekahlil-iphone { hardware ethernet 64:b9:e8:66:b2:b5; }
   host ekahlil-tablet { hardware ethernet 40:fc:89:33:bd:55; }
   host elennox-phone { hardware ethernet ec:88:92:30:36:09; }
   host elturkey-eth { hardware ethernet 00:21:9B:DD:CF:4B; }
   host elturkey-phone { hardware ethernet 38:AA:3C:DB:0C:56; }
   host emartinez-wifi { hardware ethernet 00:14:A5:DC:FB:60; }
   host epearse-eth { hardware ethernet 00:1B:63:94:E2:7D; }
   host epearse-wifi { hardware ethernet 00:1c:b3:c6:39:dd; }
   host eric-Abraham-guest { hardware ethernet 00:12:da:d2:14:93; }
   host erics-eth { hardware ethernet 00:17:F2:CC:DE:4F; }
   host erics-wifi { hardware ethernet 00:19:E3:05:FC:1C; }
   host estaprMac-wifi { hardware ethernet d8:a2:5e:95:10:e5; }
   host estapraq-dell { hardware ethernet 00:14:a5:9a:c8:f1; }
   host estapraq-eth { hardware ethernet c4:2c:03:24:78:60; }
   host etokgoz-eth { hardware ethernet 00:23:8B:5B:C0:0D; }
   host etokgoz-wi { hardware ethernet 00:21:6B:06:F1:54; }
   host etrev-ipod { hardware ethernet 18:e7:f4:08:56:e0; }
   host etrev-wifi { hardware ethernet 00:12:CF:71:4e:45; }
   host fatma-hp-laptop { hardware ethernet 00:26:82:91:0b:0c; }
   host fhafeez-iphone { hardware ethernet 68:a8:6d:c4:bf:e7; }
   host fhafeez-surface { hardware ethernet 60:45:bd:24:83:48; }
   host foreman-math { hardware ethernet 00:0c:29:23:ef:e3; }
   host forester-imac-wifi { hardware ethernet 04:54:53:0a:FA:7B; }
   host forester-imac-wired { hardware ethernet 3c:07:54:53:8a:c5; }
   host forester-laptop-dongle { hardware ethernet 40:6C:8F:2D:74:19; }
   host forester-laptop-wifi { hardware ethernet 70:56:81:BA:67:81; }
   host galston-ipod { hardware ethernet 78:6C:1C:51:D4:C6; }
   host gbarksdale-eth { hardware ethernet 00:26:6C:94:76:52; }
   host gbarksdale-laptop { hardware ethernet 4c:ed:de:53:1b:a0; }
   host gbarksdale-wifi { hardware ethernet 4C:ED:DE:53:1B:A0; }
   host gbrown-laptop { hardware ethernet 2c:f0:ee:0e:51:a4; }
   host gnipper-eth { hardware ethernet 00:22:41:2E:0C:64; }
   host gnipper-wifi { hardware ethernet 00:22:41:FA:5A:DE; }
   host gogo-wifi { hardware ethernet E0:2A:82:50:B4:FE; }
   host grasse-laptop { hardware ethernet 00:1B:B1:F5:3A:FB; }
   host grigo-netbook-eth { hardware ethernet 00:13:77:b5:62:bc; }
   host grigo-wireless { hardware ethernet 00:24:D2:26:57:35; }
   host grigo-wireless3 { hardware ethernet 00:15:E9:BD:1A:6B; }
   host grigo-wireless4 { hardware ethernet 04:15:52:58:f6:23; }
   host grigo-wireless5 { hardware ethernet f0:25:b7:97:6b:8b; }
   host guest-guest-Yazhou-Han { hardware ethernet A0:88:B4:28:BB:7C; }
   host guest2-eth { hardware ethernet 60:fb:42:f7:3e:60; }
   host guest22-eth { hardware ethernet 00:26:bb:17:96:6e; }
   host gwalschap-phone { hardware ethernet 9C:F3:87:48:B6:D7; }
   host gwi-wifi { hardware ethernet e0:f8:47:14:83:fa; }
   host hotkek-wifi { hardware ethernet 00:18:DE:1C:BA:8F; }
   host ihur-laptop { hardware ethernet 00:26:82:ab:bc:e8; }
   host ihur-laptop2 { hardware ethernet 2c:d0:5a:0c:ce:c6; }
   host injo-eth { hardware ethernet 00:26:22:4E:5D:81; }
   host isoroko-ipad { hardware ethernet 98:b8:e3:a6:07:34; }
   host isoroko-laptop { hardware ethernet 00:23:4d:9f:77:93; }
   host isoroko-laptop2 { hardware ethernet f8:e0:79:d7:89:2f; }
   host isoroko-tablet { hardware ethernet e0:b9:a5:2b:93:54; }
   host j.jackson-laptop { hardware ethernet A4:DB:30:FE:BF:3E; }
   host jablo-iphone { hardware ethernet b0:9f:ba:0e:f2:43; }
   host jablo-wifi { hardware ethernet 00:22:69:0E:00:D6; }
   host jablo-wifi2 { hardware ethernet d8:30:62:60:62:70; }
   host jablonski-cgordon { hardware ethernet 60:c5:47:0b:c4:6e; }
   host jaco-wifi { hardware ethernet 00:26:BB:1E:78:48; }
   host jadler-wifi1 { hardware ethernet 10:93:e9:05:5D:56; }
   host jake-spence-guest { hardware ethernet 18:20:32:a5:ab:e7; }
   host jalbert-eth { hardware ethernet 00:26:9E:74:3F:6B; }
   host jalbert-wifi { hardware ethernet 00:24:D6:2F:13:8C; }
   host jbreeding-wifi { hardware ethernet 00:23:4D:5A:AD:C0; }
   host jbroda-eth { hardware ethernet 00:24:BE:3C:7A:C3; }
   host jbroda-wifi { hardware ethernet 00:22:fb:c8:98:5e; }
   host jcauley-laptop-wired { hardware ethernet 8c:73:6e:78:72:a5; }
   host jcauley-laptop-wireless { hardware ethernet 00:27:10:39:86:e8; }
   host jchester-laptop { hardware ethernet 54:27:1e:42:46:99; }
   host jchester-phone { hardware ethernet 5c:0a:5b:7d:4f:3a; }
   host jcook-wifi { hardware ethernet 00:1E:4C:67:30:DB; }
   host jdula-eth { hardware ethernet 00:23:8B:C0:37:58; }
   host jdula-wifi { hardware ethernet 00:22:FA:4C:9D:9A; }
   host jdula2-eth { hardware ethernet 00:25:4B:b7:4e:b0; }
   host jdula2-wifi { hardware ethernet 00:25:4b:92:26:17; }
   host jhollt-eth { hardware ethernet 00:22:64:73:66:4f; }
   host jhollt-wifi { hardware ethernet 00:23:4E:7F:6F:C1; }
   host jin-phone { hardware ethernet 34:23:BA:E7:6C:BE; }
   host jjackson-mobile { hardware ethernet 90:18:7C:15:E1:E3; }
   host jkim-laptop { hardware ethernet 34:23:87:37:49:2e; }
   host jkujawa-imac { hardware ethernet 00:1e:52:7f:5a:28; }
   host jkujawa-laptop { hardware ethernet e4:ce:8f:34:bc:d4; }
   host jlangford-eth { hardware ethernet 00:00:39:E9:B6:90; }
   host jmerlini-1 { hardware ethernet 40:25:c2:30:0b:b4; }
   host jmerlini-2 { hardware ethernet 54:26:96:18:e6:73; }
   host jmerlini-3 { hardware ethernet f0:d1:a9:1f:37:81; }
   host jmerlini-4 { hardware ethernet 6c:71:d9:35:7a:dc; }
   host jmerlini-5 { hardware ethernet 8c:cd:e8:f2:4b:6a; }
   host jmerlini-6 { hardware ethernet d8:bb:2c:29:1a:09; }
   host jmeyer-macbook { hardware ethernet 20:c9:d0:79:4a:4d; }
   host jtalley-eth { hardware ethernet 00:22:5F:6F:A1:D7; }
   host jtalley-wi { hardware ethernet 00:23:AE:1A:DC:AA; }
   host jvillavert-mbp { hardware ethernet 60:f8:1d:b7:50:5e; }
   host jzhu-laptop { hardware ethernet 00:13:E8:23:A4:1B; }
   host kasra-wifi { hardware ethernet 3c:07:54:43:cf:ba; }
   host kblee-acer { hardware ethernet 00:17:c4:e6:86:50; }
   host kblee-ativ9plus-wifi { hardware ethernet 7c:7a:91:88:d8:58; }
   host kblee-dongle-wifi { hardware ethernet 00:15:e9:fb:b0:e3; }
   host kblee-galaxy-note-3-wifi { hardware ethernet F0:25:B7:6F:BF:81; }
   host kblee-galaxy10-1-wifi { hardware ethernet CC:07:AB:A9:D2:1E; }
   host kblee-notewifi { hardware ethernet 00:25:D3:3F:B1:86; }
   host kblee-rasp-wifi { hardware ethernet 00:02:72:37:BD:32; }
   host kblee-roku3-ether { hardware ethernet B0:A7:37:96:CD:8E; }
   host kcheng-eth { hardware ethernet 00:15:C5:74:33:D2; }
   host kcheng-wifi { hardware ethernet 00:18:F3:E3:41:44; }
   host kcheng2-eth { hardware ethernet 00:15:C5:b3:b4:c9; }
   host kcheng2-wifi { hardware ethernet 00:16:Cf:54:40:4d; }
   host kcheng3-eth { hardware ethernet F0:4D:A2:44:1F:20; }
   host kdo-laptop { hardware ethernet 68:94:23:B9:75:A9; }
   host kdo-tablet { hardware ethernet 04:15:52:76:9F:18; }
   host kgrasse-desktop { hardware ethernet d8:d3:85:77:99:1c; }
   host kjo-wifi { hardware ethernet 00:13:CE:42:DF:8C; }
   host kkornelnb-wifi { hardware ethernet 00:1f:5b:c4:55:4a; }
   host kkornelson-iphone { hardware ethernet 7c:c5:37:f1:f6:75; }
   host kkornelson-laptop { hardware ethernet 20:c9:d0:7e:7a:03; }
   host kkornelson-macbook-new { hardware ethernet 54:26:96:dc:40:09; }
   host kstevenson-laptop { hardware ethernet e8:99:c4:67:64:86; }
   host kstevenson-phone { hardware ethernet 1c:65:9d:09:c0:b3; }
   host kumar-wifi { hardware ethernet BC:77:37:16:D7:44; }
   host kumer-eth { hardware ethernet 14:FE:B5:A3:5E:7E; }
   host landes-laptop { hardware ethernet B8:EE:65:E4:23:84; }
   host landes-nook { hardware ethernet 58:67:1a:e2:77:f2; }
   host lin-Hp-laptop { hardware ethernet 00:21:6a:91:a8:30; }
   host lina-ipad { hardware ethernet E0:F5:C6:2B:95:3E; }
   host lina-laptop { hardware ethernet 70:1A:04:A7:C1:9A; }
   host linkster-TMP-desktop { hardware ethernet d4:85:64:a7:a3:6a; }
   host llerner-eth { hardware ethernet 34:15:9e:0d:1b:f8; }
   host llerner-wifi { hardware ethernet f8:1e:df:e2:eb:5a; }
   host llomeli-eth { hardware ethernet 00:1C:B3:BE:2C:EE; }
   host llomeli-wifi { hardware ethernet 00:1B:63:9F:DB:6E; }
   host lmunteanu-eth { hardware ethernet 00:21:6B:3A:D8:56; }
   host lmunteanu-wifi { hardware ethernet 00:1E:33:7D:C8:D2; }
   host lrubin-eth { hardware ethernet 00:1E:33:89:6E:CF; }
   host lrubin-wifi { hardware ethernet 00:21:63:B9:B9:77; }
   host lucy-macbookpro { hardware ethernet 3C:15:C2:DA:22:B8; }
   host lwhite-iph { hardware ethernet 90:27:E4:C2:2B:14; }
   host lwhite-surface { hardware ethernet C0:33:5E:0A:52:E9; }
   host mark-hagen-nbrady-guest { hardware ethernet 08:11:96:2b:58:48; }
   host mark-hagen-nbrady-guest2 { hardware ethernet dc:0e:a1:0f:da:3b; }
   host math11-ap { hardware ethernet 00:11:95:c2:a0:cd; }
   host maxim-guest { hardware ethernet 64:5a:04:9b:fc:52; }
   host mcao-device { hardware ethernet 68:D9:3C:54:B2:41; }
   host mcao-ipad { hardware ethernet 7c:fa:df:00:3d:c9; }
   host mcao-iphone { hardware ethernet c0:9f:42:ca:fe:17; }
   host mcao-iphone2 { hardware ethernet e4:98:d6:13:64:9f; }
   host mcao-laptop { hardware ethernet 00:21:6b:c3:ee:cc; }
   host mcdalton-eth { hardware ethernet 00:1F:5B:ED:B6:53; }
   host mcdalton-pod { hardware ethernet 00:22:41:67:CD:1E; }
   host mcdalton-wi { hardware ethernet 00:1E:C2:AE:1A:97; }
   host mcknight-eth { hardware ethernet 00:0A:95:DB:9E:E8; }
   host micah-spence-guest { hardware ethernet 70:f1:a1:72:9a:77; }
   host miller-laptop { hardware ethernet C4:D9:87:DD:F3:01; }
   host minsu-eth { hardware ethernet 00:1D:72:8E:E5:5A; }
   host minsu-wifi { hardware ethernet 00:22:69:2F:A8:8B; }
   host mjablonski-mac { hardware ethernet 70:56:81:c3:13:51; }
   host mkim-eth { hardware ethernet 00:02:A5:9C:F5:A8; }
   host mkim-rtr { hardware ethernet 00:16:B6:B3:07:5D; }
   host mkim-wifi { hardware ethernet 00:16:B6:29:BA:6C; }
   host mlandes-phone { hardware ethernet f8:a9:d0:55:65:f1; }
   host mlee-eth { hardware ethernet 00:E0:91:01:0D:33; }
   host mlee-ipad { hardware ethernet 5c:f9:38:7e:d6:b7; }
   host mlee-laptop { hardware ethernet 20:68:9d:be:36:ac; }
   host mlee-wifi { hardware ethernet 00:0C:F1:1B:1C:5C; }
   host mlee2-wifi { hardware ethernet 0C:60:76:64:08:3F; }
   host mleite-e { hardware ethernet 00:0F:1F:FD:C5:D4; }
   host mleitei2-eth { hardware ethernet 00:24:7E:E0:58:52; }
   host mleitei2-wifi { hardware ethernet 00:26:5E:ED:3B:7C; }
   host mmcbride-guest { hardware ethernet a8:bb:cf:03:89:a6; }
   host mmolander-laptop { hardware ethernet 1c:4b:d6:5a:f4:eb; }
   host mmolander-laptop2 { hardware ethernet c0:38:96:50:ed:e3; }
   host mozaydin-Ayten { hardware ethernet 3c:15:c2:d0:4e:0c; }
   host mozaydin-eth { hardware ethernet 70:5A:B6:9B:87:F4; }
   host mozaydin-laptop { hardware ethernet 00:24:d7:13:C4:A4; }
   host mozaydin-wifi { hardware ethernet 00:24:D7:13:C4:A4; }
   host mozaydin-wifi2 { hardware ethernet b8:e8:56:31:a6:34; }
   host mroy-iphone { hardware ethernet e8:80:2e:c0:c2:dc; }
   host mroy-laptop { hardware ethernet 3c:15:c2:d0:24:f2; }
   host msavic-laptop { hardware ethernet 30:10:b3:18:b8:0b; }
   host msavic-macbook { hardware ethernet 54:26:96:d8:ff:8d; }
   host msavic-phone { hardware ethernet d4:f4:6f:19:96:26; }
   host mstubblefield-ipad { hardware ethernet 04:e5:36:dd:7f:21; }
   host mstubblefield-laptop { hardware ethernet 68:94:23:ce:a0:85; }
   host mstubblefield-phone { hardware ethernet 48:d7:05:7b:5a:e7; }
   host msunkula-laptop { hardware ethernet 00:c2:c6:04:3f:1c; }
   host msunkula-phone { hardware ethernet f8:a9:d0:02:3c:82; }
   host mtilles-laptop { hardware ethernet 00:23:6c:82:74:2d; }
   host mtilles-phone { hardware ethernet 50:ea:d6:58:91:79; }
   host mzhu-Mac { hardware ethernet 7c:6d:62:78:9e:71; }
   host mzhu-cell { hardware ethernet d4:20:6d:70:b2:8b; }
   host mzhu-laptop { hardware ethernet b8:e8:56:05:88:94; }
   host mzhu-phone { hardware ethernet 18:AF:61:3D:19:5F; }
   host mzhu-wifi { hardware ethernet 00:16:Cf:5F:77:DC; }
   host nbrady-guest { hardware ethernet c8:bc:c8:f0:93:0a; }
   host nbrady-guest-yang-wang { hardware ethernet f0:27:65:0c:dd:35; }
   host nbrady-guest-yang-wang2 { hardware ethernet a0:0b:ba:dc:30:0c; }
   host nbrady-guest-yang-wang3 { hardware ethernet 20:02:AF:CC:A9:6C; }
   host nbrady-imac-wifi { hardware ethernet d8:30:62:5e:ef:d6; }
   host nbrady-iphone { hardware ethernet 7c:c5:37:f0:9b:da; }
   host nbrady-macbook { hardware ethernet 90:84:0d:f5:1f:ca; }
   host nbrady-macbook2 { hardware ethernet 54:26:96:d8:f8:51; }
   host nbrady-wifi { hardware ethernet 00:11:24:20:39:6F; }
   host nhoang-wifi { hardware ethernet 00:19:D2:34:DF:0A; }
   host nmatthews-eth { hardware ethernet 00:22:41:39:D8:7F; }
   host nmatthews-phwifi { hardware ethernet 24:AB:81:0E:C4:E4; }
   host nmatthews-wifi { hardware ethernet 00:23:12:03:19:EE; }
   host notebook-pc { hardware ethernet 6c:71:d9:2D:7F:48; }
   host npetrov-eth { hardware ethernet 00:13:A9:8D:26:94; }
   host npetrov-ipad { hardware ethernet 70:de:e2:33:86:4c; }
   host npetrov-wifi { hardware ethernet 00:18:DE:D4:D2:26; }
   host nthapa-eth { hardware ethernet 00:23:5A:A6:BE:99; }
   host nthapa-wi { hardware ethernet 00:21:00:EC:D5:7F; }
   host oadekoya-ipad { hardware ethernet 38:48:4c:0f:0a:87; }
   host oadekoya-laptop { hardware ethernet 04:0c:ce:d6:fc:c2; }
   host oadekoya-phone { hardware ethernet cc:3a:61:1e:76:18; }
   host oadekoya-surface2 { hardware ethernet 28:18:78:c4:9c:c7; }
   host pdecastro-eth { hardware ethernet 70:1A:04:38:BF:F0; }
   host pdecastro-wi { hardware ethernet 00:26:2D:50:D0:22; }
   host peterc-wi { hardware ethernet 00:1B:63:CA:62:95; }
   host petrov-wifi { hardware ethernet C8:BC:C8:CD:0F:A0; }
   host pgoodey-ipad { hardware ethernet d8:a2:5e:19:9e:b7; }
   host pgoodey-ipad2 { hardware ethernet B8:E8:56:79:E0:15; }
   host pgoodey-laptop { hardware ethernet b8:8d:12:2b:ee:d8; }
   host pgoodey-notebook { hardware ethernet b8:e8:56:00:b5:26; }
   host pgoodey-ph { hardware ethernet 00:21:E8:02:54:A3; }
   host pgoodey-ph2 { hardware ethernet 68:96:7B:0D:5E:68; }
   host pgoodey-temp1 { hardware ethernet 00:13:02:C9:9A:1A; }
   host phollt-eth { hardware ethernet 00:E0:B8:B9:5B:F1; }
   host phollt-wifi { hardware ethernet 00:14:A5:F3:C8:5C; }
   host pitael-laptop { hardware ethernet 48:d7:05:bb:cc:13; }
   host pitale-guest { hardware ethernet b8:8d:12:0f:19:96; }
   host pregier-laptop { hardware ethernet 84:85:06:dc:96:8a; }
   host pregier-phone { hardware ethernet 00:26:08:b3:b5:57; }
   host qlu-eth { hardware ethernet 64:31:50:89:2c:a2; }
   host qlu-wifi { hardware ethernet 00:16:CE:69:70:39; }
   host rafi-wifi { hardware ethernet 00:26:b0:f7:e3:6a; }
   host rafi-wifi2 { hardware ethernet 00:1f:5b:c4:4d:5d; }
   host remling-eth { hardware ethernet 2C:41:38:07:02:DD; }
   host remling-wifi { hardware ethernet 00:24:D7:D1:6D:FC; }
   host rkeaton-laptop { hardware ethernet 7c:e9:d3:06:b2:a6; }
   host rmiller-laptop { hardware ethernet 2c:be:08:eb:21:04; }
   host rrowe-laptop { hardware ethernet 48:d7:05:c1:8b:07; }
   host rschmidt-visitor { hardware ethernet 00:1F:3B:83:B0:F1; }
   host rsmith-eth { hardware ethernet 00:23:32:91:A7:D8; }
   host rsmith-wifi { hardware ethernet 00:23:12:07:0C:08; }
   host rtang-laptop { hardware ethernet 00:22:fa:03:66:82; }
   host rtang-laptop2 { hardware ethernet 74:e5:43:ab:66:c5; }
   host rwright-macbook { hardware ethernet d0:e1:40:96:91:de; }
   host sbauer-phone { hardware ethernet dc:2b:61:a5:54:2f; }
   host sbauer-wifi { hardware ethernet 00:23:DF:67:5F:4F; }
   host sbauer-wifi2 { hardware ethernet 00:26:BB:05:F6:ED; }
   host sbhattarai-laptop { hardware ethernet 00:1b:b1:8a:18:64; }
   host schmidt-wifi1 { hardware ethernet 40:61:86:a4:42:2a; }
   host schmidt-wifi2 { hardware ethernet 08:11:96:9c:a2:68; }
   host scrowell-macbook { hardware ethernet 88:1f:a1:1a:c6:40; }
   host scrowell-wifi { hardware ethernet 00:21:E9:DB:74:BB; }
   host sgrove-wifi1 { hardware ethernet 78:E4:00:0F:46:ED; }
   host shankar-eth { hardware ethernet 00:1B:63:B3:78:90; }
   host shankar-wifi { hardware ethernet 00:1E:52:7F:34:C2; }
   host slapan-macbook { hardware ethernet 04:0c:ce:d2:1d:a8; }
   host smarsh-eth { hardware ethernet 00:26:22:BE:6A:56; }
   host smarsh-wi { hardware ethernet 90:4C:E5:B5:13:50; }
   host smiller-eth { hardware ethernet 00:1E:68:A7:C4:80; }
   host smiller-wifi { hardware ethernet 00:22:69:0F:92:BF; }
   host spencer-laptop { hardware ethernet f4:b7:e2:03:09:f3; }
   host spencer-laptop-old { hardware ethernet 00:27:10:0f:ff:78; }
   host spencer-laptop-wired { hardware ethernet 8c:89:a5:0b:0e:4c; }
   host spencer-laptop-wired-old { hardware ethernet 00:26:b9:f1:81:ec; }
   host spencer-phone { hardware ethernet 40:0E:85:72:6E:A0; }
   host spencer-rpi { hardware ethernet b8:27:eb:a9:4b:78; }
   host spencer-tablet { hardware ethernet 10:bf:48:e7:c3:8f; }
   host srlee-eth { hardware ethernet 00:26:2D:BD:D5:34; }
   host srlee-wifi { hardware ethernet 70:F1:A1:17:64:41; }
   host ssnow-wifi { hardware ethernet 00:0E:35:DA:BE:08; }
   host sspallone-eth { hardware ethernet 7C:6D:62:8C:3E:1C; }
   host sspallone-wifi { hardware ethernet 58:B0:35:65:7D:75; }
   host sstewart-laptop { hardware ethernet c8:f7:33:83:88:30; }
   host stang-eth0 { hardware ethernet 00:15:F2:89:E0:BE; }
   host stuckey-phone { hardware ethernet 18:83:31:de:0f:e9; }
   host sturki-iphone { hardware ethernet 5c:95:ae:2c:81:0d; }
   host sturki-phone { hardware ethernet 64:9a:be:d8:5c:54; }
   host swagh-htc { hardware ethernet 90:e7:c4:d7:7a:dc; }
   host swagh-laptop { hardware ethernet 6c:71:d9:5f:46:87; }
   host swagh-phone { hardware ethernet d0:b3:3f:6a:67:df; }
   host sydney-guest-ipad { hardware ethernet b0:65:bd:a3:da:16; }
   host syi-ipad { hardware ethernet 78:3a:84:89:75:89; }
   host syi-phone { hardware ethernet a0:f4:50:7d:5c:f3; }
   host syi-phone2 { hardware ethernet 9c:a9:e4:69:b4:22; }
   host sytang-laptop { hardware ethernet 60:D8:19:C2:57:31; }
   host sytang-phone { hardware ethernet d4:97:0b:43:66:a3; }
   host taechang-wifi { hardware ethernet 00:11:F5:7D:88:67; }
   host thomas-ipad { hardware ethernet a4:d1:d2:53:c0:c6; }
   host timr-eth { hardware ethernet 00:26:4A:16:F9:B2; }
   host timr-wifi { hardware ethernet 00:26:bb:01:f8:c8; }
   host tlong-ipad { hardware ethernet 98:fe:94:7d:f4:bf; }
   host tmadsen-laptop-eth { hardware ethernet 40:f0:2f:43:3d:4b; }
   host tmartino-phone { hardware ethernet 14:30:c6:5d:90:13; }
   host tmorgan-laptop { hardware ethernet 68:5d:43:c8:2f:99; }
   host tmorgan-phone { hardware ethernet fc:c2:de:d9:1d:5d; }
   host tmorgan-tablet { hardware ethernet 00:f4:6f:27:21:a7; }
   host tucker-wifi { hardware ethernet 00:1e:52:c8:c6:4e; }
   host tyamamoto-laptop { hardware ethernet 68:5d:43:a8:0a:de; }
   host ukn-wifi { hardware ethernet 00:25:00:0C:58:C9; }
   host villart-wifi { hardware ethernet 4c:eb:42:4c:41:9f; }
   host villavert-laptop { hardware ethernet 80:19:34:43:1f:02; }
   host vsrini-eth { hardware ethernet 00:15:C5:81:C9:DC; }
   host vsrini-wifi { hardware ethernet 00:1E:4C:75:55:A6; }
   host vtonic-eth { hardware ethernet 00:21:9B:D7:36:CE; }
   host vtonic-wifi { hardware ethernet 00:1F:E1:67:A2:A0; }
   host walschap-eth { hardware ethernet 58:B0:35:F4:05:F9; }
   host walschap-imac { hardware ethernet 00:1f:5b:ce:b2:aa; }
   host walschap-ipad { hardware ethernet 54:e4:3a:b7:04:04; }
   host walschap-iphone { hardware ethernet a0:ed:cd:71:a6:f3; }
   host walschap-mbp { hardware ethernet 3c:15:c2:c8:58:f2; }
   host wang-macpro { hardware ethernet 54:26:96:d8:fb:45; }
   host wang-wireless1 { hardware ethernet 00:1c:bf:8b:16:72; }
   host wang-wireless2 { hardware ethernet 10:1c:0c:44:ca:56; }
   host wei-laptop { hardware ethernet 64:76:ba:89:6f:38; }
   host weihua-eth { hardware ethernet 00:1A:6B:3A:41:1D; }
   host weihua-wifi { hardware ethernet 00:1B:77:C4:49:59; }
   host weihua2-wifi { hardware ethernet 00:22:41:7A:D3:66; }
   host william-acer-laptop { hardware ethernet 60:D8:19:6A:35:91; }
   host wleite-wifi { hardware ethernet 00:0E:35:71:95:75; }
   host wlin-iphone { hardware ethernet 7C:C5:37:5A:8D:B1; }
   host wong-wifi { hardware ethernet 00:17:F2:4E:D0:38; }
   host wong-wifi2 { hardware ethernet 00:1D:4F:FC:4B:49; }
   host wshao-ipod { hardware ethernet 00:c6:10:43:89:9c; }
   host wstewart-laptop { hardware ethernet 60:36:dd:25:f6:b6; }
   host wthompson-guest { hardware ethernet F0:1F:AF:1D:CB:54; }
   host wwei-eth { hardware ethernet 70:5A:B6:9B:87:5C; }
   host wwei-phone { hardware ethernet a8:bb:cf:92:3b:18; }
   host wwei-vis1eth { hardware ethernet 00:FF:98:6C:25:89; }
   host wwei-vis1wi { hardware ethernet 00:0D:60:CB:69:5B; }
   host wwei-wifi { hardware ethernet 00:24:D7:14:6A:EC; }
   host wwei-windows-laptop { hardware ethernet 54:27:1e:df:a6:92; }
   host wwiel-wifi { hardware ethernet 00:1E:64:43:4D:4A; }
   host yan-wifi { hardware ethernet e0:ca:94:15:a1:ef; }
   host ykim-ipad { hardware ethernet e0:b9:ba:c7:99:bd; }
   host ykim-laptop { hardware ethernet e0:ca:94:d4:4c:9f; }
   host ykim-phone { hardware ethernet 1c:99:4c:b5:af:9b; }
   host yli-eth { hardware ethernet 00:14:22:A6:22:44; }
   host yli-wi { hardware ethernet 00:14:A5:89:AC:63; }
   host zhu-spectre { hardware ethernet 68:94:23:11:56:53; }
#  host UNKNOWN-kbroku { hardware ethernet b0:a7:37:71:ce:38; }
#  host kblee-roku3wifi { hardware ethernet B0:A7:37:96:CD:8F; }
}
